### Noelle Landauer
#### CIS277A, Lab 4, 10/26/22
---

# Bike Sharing in Washington DC: Daily rider counts with weather information

[Original data source](https://www.kaggle.com/datasets/marklvl/bike-sharing-dataset?select=day.csv)

Import the Pandas module:

In [9]:
import pandas as pd

Read 3 columns of data from a .csv file into a Pandas dataframe:

In [10]:
# only importing 3 columns: 
# temperature (normalized Celsius), unregistered rider count, registered rider count
bikeshare_df = pd.read_csv(r"C:\Users\noell\OneDrive\Documents\Classes\CIS277A_DataAnalytics\277A_Lab4_NoelleLandauer\BikeShareDCbyDay.csv",
                          usecols=['temp','casual','registered'])

Display the top 20 rows (plus column labels) from the dataframe:

In [11]:
bikeshare_df.head(21)

        temp  casual  registered
0   0.344167     331         654
1   0.363478     131         670
2   0.196364     120        1229
3   0.200000     108        1454
4   0.226957      82        1518
5   0.204348      88        1518
6   0.196522     148        1362
7   0.165000      68         891
8   0.138333      54         768
9   0.150833      41        1280
10  0.169091      43        1220
11  0.172727      25        1137
12  0.165000      38        1368
13  0.160870      54        1367
14  0.233333     222        1026
15  0.231667     251         953
16  0.175833     117         883
17  0.216667       9         674
18  0.292174      78        1572
19  0.261667      83        1844
20  0.177500      75        1468

# Top-rated Science Fiction movies according to IMDB users

Import pyodbc, a module to connect Python and ODBC servers:

In [12]:
import pyodbc

Create a connection object to log in to cisdbss.pcc.edu server:

In [13]:
connection = pyodbc.connect(
    server="scrubbed.pcc.edu",
    user="username",
    password="password",
    database="IMDB",
    driver="{ODBC Driver 17 for SQL Server}")

connection

SQL query to retrieve the top 20 SF movies and their average ranking (among movies with at least 10,000 votes) from the IMDB database:

In [14]:
sql = '''SELECT TOP 20 tb.primaryTitle AS Title, 
    tr.averageRating AS "Average Rating"
FROM title_basics AS tb
JOIN title_ratings AS tr ON tb.tconst = tr.tconst
JOIN title_genre AS tg ON tb.tconst = tg.tconst
WHERE genre='Sci-Fi'
AND numVotes >=10000
AND titleType = 'movie'
ORDER BY tr.averageRating DESC;'''

Query database and import resulting rows into a Pandas dataframe:

In [15]:
topSFmovies_df = pd.read_sql_query(sql, connection)

C:\Users\noell\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Print contents of dataframe:

In [16]:
print(topSFmovies_df)

                                    Title  Average Rating
0                               Inception             8.8
1                              The Matrix             8.7
2                            Interstellar             8.6
3                            The Prestige             8.5
4                                   Alien             8.5
5                            Terminator 2             8.5
6                      Back to the Future             8.5
7                                  Aliens             8.4
8   Eternal Sunshine of the Spotless Mind             8.3
9                      A Clockwork Orange             8.3
10                             Metropolis             8.3
11                  2001: A Space Odyssey             8.3
12                           Blade Runner             8.2
13                                     PK             8.2
14                      Blade Runner 2049             8.2
15                         V for Vendetta             8.2
16                           The Avengers             8.1
17                     Mad Max: Fury Road             8.1
18                Guardians of the Galaxy             8.1
19                                  Logan             8.1