### Noelle Landauer
### CIS277A, Lab 5, 11/2/22

# Native Bee Incidence in Oregon in 2019

[Original Data Source](https://www.gbif.org/dataset/3301620d-6750-434e-97ad-abfac165bb9c)

The Oregon Bee Atlas is an publically-funded survey of native bee species in the state. Incidence data from the first two years of the study, 2018 and 2019, is available through the Global Biodiversity Information Facility (GBIF) with a Creative Commons usage license. This data set only includes the 2019 season.

Import Python modules:

In [1]:
import pandas as pd
import pyodbc
import seaborn as sns

Read the Excel file into a Pandas Dataframe. The file has ~25K rows so it takes a few seconds.

In [188]:
bees2019_df = pd.read_excel(r"C:\Users\noell\OneDrive\Documents\Classes\CIS277A_DataAnalytics\277A_Lab5_NoelleLandauer\GBIF2019.xlsx")
bees2019_df

,gbifID,datasetKey,occurrenceID,kingdom,phylum,class,order,family,genus,species,...,identifiedBy,dateIdentified,license,rightsHolder,recordedBy,typeStatus,establishmentMeans,lastInterpreted,mediaType,issue
0,3499823031,3301620d-6750-434e-97ad-abfac165bb9c,https://osac.oregonstate.edu/OBS/OBA_1923053,Animalia,Arthropoda,Insecta,Hymenoptera,Halictidae,Halictus,Halictus ligatus,...,Lincoln R. Best,2020-01-01,CC_BY_NC_4_0,Oregon State University,Patti Wittrup,NaN,NaN,2022-09-08 06:08:17.419,NaN,GEODETIC_DATUM_ASSUMED_WGS84;INSTITUTION_MATCH...
1,3499823030,3301620d-6750-434e-97ad-abfac165bb9c,https://osac.oregonstate.edu/OBS/OBA_1913691,Animalia,Arthropoda,Insecta,Hymenoptera,Megachilidae,Osmia,Osmia densa,...,Lincoln R. Best,2020-01-01,CC_BY_NC_4_0,Oregon State University,Judith Maxwell,NaN,NaN,2022-09-08 06:08:17.423,NaN,GEODETIC_DATUM_ASSUMED_WGS84;INSTITUTION_MATCH...
2,3499823029,3301620d-6750-434e-97ad-abfac165bb9c,https://osac.oregonstate.edu/OBS/OBA_1913673,Animalia,Arthropoda,Insecta,Hymenoptera,Megachilidae,Protosmia,Protosmia rubifloris,...,Lincoln R. Best,2020-01-01,CC_BY_NC_4_0,Oregon State University,Judith Maxwell,NaN,NaN,2022-09-08 06:08:17.421,NaN,GEODETIC_DATUM_ASSUMED_WGS84;INSTITUTION_MATCH...
3,3499823028,3301620d-6750-434e-97ad-abfac165bb9c,https://osac.oregonstate.edu/OBS/OBA_1901618,Animalia,Arthropoda,Insecta,Hymenoptera,Halictidae,Halictus,Halictus farinosus,...,Lincoln R. Best,2020-01-01,CC_BY_NC_4_0,Oregon State University,Judith Maxwell,NaN,NaN,2022-09-08 06:08:17.411,NaN,GEODETIC_DATUM_ASSUMED_WGS84;INSTITUTION_MATCH...
4,3499823027,3301620d-6750-434e-97ad-abfac165bb9c,https://osac.oregonstate.edu/OBS/OBA_1923023,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Anthophora,Anthophora urbana,...,Lincoln R. Best,2020-01-01,CC_BY_NC_4_0,Oregon State University,Heike Williams,NaN,NaN,2022-09-08 06:08:17.416,NaN,GEODETIC_DATUM_ASSUMED_WGS84;INSTITUTION_MATCH...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24674,3467769400,3301620d-6750-434e-97ad-abfac165bb9c,https://osac.oregonstate.edu/SP/OSAC_0001276270,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Anthophora,Anthophora bomboides,...,Lincoln R. Best,2020-01-01,CC_BY_NC_4_0,Oregon State University,Michael O'Loughlin,NaN,NaN,2022-09-08 06:08:11.394,NaN,GEODETIC_DATUM_ASSUMED_WGS84;INSTITUTION_MATCH...
24675,3467769397,3301620d-6750-434e-97ad-abfac165bb9c,https://osac.oregonstate.edu/SP/OSAC_0001276287,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Anthophora,Anthophora ursina,...,Lincoln R. Best,2020-01-01,CC_BY_NC_4_0,Oregon State University,Ellen Watrous,NaN,NaN,2022-09-08 06:08:11.396,NaN,GEODETIC_DATUM_ASSUMED_WGS84;INSTITUTION_MATCH...
24676,3467769390,3301620d-6750-434e-97ad-abfac165bb9c,https://osac.oregonstate.edu/SP/OSAC_0001276284,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Anthophora,Anthophora ursina,...,Lincoln R. Best,2020-01-01,CC_BY_NC_4_0,Oregon State University,Gretchen Pederson,NaN,NaN,2022-09-08 06:08:11.507,NaN,GEODETIC_DATUM_ASSUMED_WGS84;INSTITUTION_MATCH...
24677,3467769385,3301620d-6750-434e-97ad-abfac165bb9c,https://osac.oregonstate.edu/SP/OSAC_0001276289,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Anthophora,Anthophora ursina,...,Lincoln R. Best,2020-01-01,CC_BY_NC_4_0,Oregon State University,Michael O'Loughlin,NaN,NaN,2022-09-08 06:08:11.396,NaN,GEODETIC_DATUM_ASSUMED_WGS84;INSTITUTION_MATCH...
24678,3467769380,3301620d-6750-434e-97ad-abfac165bb9c,https://osac.oregonstate.edu/SP/OSAC_0001276280,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Anthophora,Anthophora ursina,...,Lincoln R. Best,2020-01-01,CC_BY_NC_4_0,Oregon State University,Lori Humphreys,NaN,NaN,2022-09-08 06:08:11.395,NaN,GEODETIC_DATUM_ASSUMED_WGS84;INSTITUTION_MATCH...

There are 50 columns, so lets take a look at the column headers and number of populated cells in each column:

In [189]:
bees2019_df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24679 entries, 0 to 24678
Data columns (total 50 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   gbifID                            24679 non-null  int64
 1   datasetKey                        24679 non-null  object
 2   occurrenceID                      24679 non-null  object
 3   kingdom                           24679 non-null  object
 4   phylum                            24679 non-null  object
 5   class                             24679 non-null  object
 6   order                             24679 non-null  object
 7   family                            24679 non-null  object
 8   genus                             24679 non-null  object
 9   species                           14438 non-null  object
 10  infraspecificEpithet              0 non-null      float64
 11  taxonRank                         24679 non-null  object
 12  scientificName                    24679 non-null  object
 13  verbatimScientificName            24679 non-null  object
 14  verbatimScientificNameAuthorship  0 non-null      float64
 15  countryCode                       24679 non-null  object
 16  locality                          24667 non-null  object
 17  stateProvince                     24679 non-null  object
 18  occurrenceStatus                  24679 non-null  object
 19  individualCount                   0 non-null      float64
 20  publishingOrgKey                  24679 non-null  object
 21  decimalLatitude                   24679 non-null  int64
 22  decimalLongitude                  24679 non-null  int64
 23  coordinateUncertaintyInMeters     0 non-null      float64
 24  coordinatePrecision               0 non-null      float64
 25  elevation                         0 non-null      float64
 26  elevationAccuracy                 0 non-null      float64
 27  depth                             0 non-null      float64
 28  depthAccuracy                     0 non-null      float64
 29  eventDate                         24679 non-null  datetime64[ns]
 30  day                               24679 non-null  int64
 31  month                             24679 non-null  int64
 32  year                              24679 non-null  int64
 33  taxonKey                          24679 non-null  int64
 34  speciesKey                        14438 non-null  float64
 35  basisOfRecord                     24679 non-null  object
 36  institutionCode                   24679 non-null  object
 37  collectionCode                    24679 non-null  object
 38  catalogNumber                     3035 non-null   object
 39  recordNumber                      0 non-null      float64
 40  identifiedBy                      24679 non-null  object
 41  dateIdentified                    24679 non-null  datetime64[ns]
 42  license                           24679 non-null  object
 43  rightsHolder                      24679 non-null  object
 44  recordedBy                        24679 non-null  object
 45  typeStatus                        0 non-null      float64
 46  establishmentMeans                0 non-null      float64
 47  lastInterpreted                   24679 non-null  datetime64[ns]
 48  mediaType                         0 non-null      float64
 49  issue                             24679 non-null  object
dtypes: datetime64[ns](3), float64(14), int64(7), object(26)
memory usage: 9.4+ MB

Right off, we can take out 13 columns that contain no data. Some of these are GBIF categories that are irrelevant to this dataset, and some (such as the precise GPS coordinates where the bees were found) have been withheld by the researchers in consideration of rare and endangered organisms and ecosystems. In any case, I don't need empty columns, so I'll remove them.

In [190]:
bees2019_df.drop(columns=['infraspecificEpithet','verbatimScientificNameAuthorship','individualCount','coordinateUncertaintyInMeters',
                          'coordinatePrecision','elevation','elevationAccuracy','depth','depthAccuracy','recordNumber','typeStatus',
                          'establishmentMeans','mediaType'], errors='raise', inplace=True)

Next let's look at the number of bins in the remaining columns:

In [191]:
bees2019_df.nunique()

gbifID                    24679
datasetKey                    1
occurrenceID              24679
kingdom                       1
phylum                        1
class                         1
order                         1
family                        5
genus                        44
species                     219
taxonRank                     2
scientificName              245
verbatimScientificName      246
countryCode                   1
locality                    382
stateProvince                 3
occurrenceStatus              1
publishingOrgKey              1
decimalLatitude               6
decimalLongitude              9
eventDate                   211
day                          31
month                        10
year                          1
taxonKey                    245
speciesKey                  219
basisOfRecord                 1
institutionCode               1
collectionCode                1
catalogNumber              3035
identifiedBy                  3
dateIdentified                1
license                       1
rightsHolder                  1
recordedBy                  126
lastInterpreted            3909
issue                         2
dtype: int64

We also don't need any columns with only one unique value. These are generally columns used to identify the dataset and to join multiple datasets from GBIF. I am only examining this particular set, so these columns are unnecessary.

In [192]:
for column in bees2019_df.columns:
    if bees2019_df[column].nunique() == 1:
        bees2019_df = bees2019_df.drop(column, axis=1)

Now let's look at the unique values of the remaining columns:

In [193]:
bees2019_df.apply(pd.unique)

gbifID                    [3499823031, 3499823030, 3499823029, 349982302...
occurrenceID              [https://osac.oregonstate.edu/OBS/OBA_1923053,...
family                    [Halictidae, Megachilidae, Apidae, Andrenidae,...
genus                     [Halictus, Osmia, Protosmia, Anthophora, Bombu...
species                   [Halictus ligatus, Osmia densa, Protosmia rubi...
taxonRank                                                  [SPECIES, GENUS]
scientificName            [Halictus ligatus Say, 1837, Osmia densa Cress...
verbatimScientificName    [Halictus ligatus Say, 1837, Osmia densa Cress...
locality                  [Corvallis, McKee Bridge, Grants Pass, Redmond...
stateProvince                                   [Oregon, California, Idaho]
decimalLatitude                                    [45, 42, 44, 46, 43, 47]
decimalLongitude          [-123, -124, -121, -119, -122, -120, -117, -11...
eventDate                 [2019-08-24T00:00:00.000000000, 2019-05-29T00:...
day                       [24, 29, 26, 5, 1, 17, 25, 31, 3, 30, 28, 18, ...
month                                     [8, 5, 4, 9, 6, 3, 7, 10, 12, 11]
taxonKey                  [1353451, 5039146, 1334783, 1353425, 5040435, ...
speciesKey                [1353451.0, 5039146.0, 1334783.0, 1353425.0, 5...
catalogNumber             [nan, OSAC_0001277478, OSAC_0001277476, OSAC_0...
identifiedBy              [Lincoln R. Best, Joe D. Engler, Briana C. Lindh]
recordedBy                [Patti Wittrup, Judith Maxwell, Heike Williams...
lastInterpreted           [2022-09-08T06:08:17.419000000, 2022-09-08T06:...
issue                     [GEODETIC_DATUM_ASSUMED_WGS84;INSTITUTION_MATC...
dtype: object

Based on this, I want to keep the taxon information, geographic information, and date-related data. I also want to add in the plant association data and sex determinations from the researchers at a future point, so I will need the Oregon Bee Atlas number (embedded in occurenceID) for each bee in order to join the datasets.

In [194]:
bees2019_df.drop(columns=['gbifID','scientificName','verbatimScientificName','taxonKey','speciesKey','identifiedBy','recordedBy',
                          'lastInterpreted','catalogNumber','issue'], errors='raise', inplace=True)

In [195]:
bees2019_df.nunique()

occurrenceID        24679
family                  5
genus                  44
species               219
taxonRank               2
locality              382
stateProvince           3
decimalLatitude         6
decimalLongitude        9
eventDate             211
day                    31
month                  10
dtype: int64

Now let's check for duplicate records. We want every row to represent a unique bee specimen.

In [196]:
bees2019_df[bees2019_df.duplicated(keep=False)]

Empty DataFrame
Columns: [occurrenceID, family, genus, species, taxonRank, locality, stateProvince, decimalLatitude, decimalLongitude, eventDate, day, month]
Index: []

There are no duplicate rows. Now let's check for missing data. The species column has many NaN rows (due to the fact that not every bee could be identified to a currently known species - newly discovered species still need to be described), but the rest of the columns should have complete data.

In [197]:
missing_count = bees2019_df.shape[0] - bees2019_df.count()
print(missing_count)

occurrenceID            0
family                  0
genus                   0
species             10241
taxonRank               0
locality               12
stateProvince           0
decimalLatitude         0
decimalLongitude        0
eventDate               0
day                     0
month                   0
dtype: int64

The locality column has a few missing data points. Since the "locality" is the nearest town, the few missing points were probably bees captured very far from a relevant locality. Many of the bees found in more obscure locations are interesting, so I'll keep the few missing values, but may keep it in mind and exclude them from an analysis by locality instead of GPS coordinates.

There were also a few bees accidentally captured across the state borders in California and Idaho. How many?

In [198]:
bees2019_df.stateProvince.value_counts()

Oregon        24548
Idaho           105
California       26
Name: stateProvince, dtype: int64

I don't have the detailed GPS coordinates to confirm that these bees were "close enough for flying creatures that don't respect borders," but this is likely the case if they were kept in the data set by the researchers. However, for the purposes of this lab, we'll drop those rows and retain only those bees truely located in Oregon. Then we'll drop the column.

In [199]:
bees2019_df.stateProvince = bees2019_df.stateProvince.astype('category')
bees2019_df = bees2019_df.query("stateProvince == 'Oregon'")
bees2019_df.drop(columns=['stateProvince'], inplace=True)

Next let's look at the datatypes of the remaining columns.

In [200]:
bees2019_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24548 entries, 0 to 24678
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   occurrenceID      24548 non-null  object
 1   family            24548 non-null  object
 2   genus             24548 non-null  object
 3   species           14363 non-null  object
 4   taxonRank         24548 non-null  object
 5   locality          24536 non-null  object
 6   decimalLatitude   24548 non-null  int64
 7   decimalLongitude  24548 non-null  int64
 8   eventDate         24548 non-null  datetime64[ns]
 9   day               24548 non-null  int64
 10  month             24548 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(6)
memory usage: 2.2+ MB

I'm going to set taxonRank as a category. It's essentially Boolean, since there are only two groups (genus or species), but the categories are easier to understand.

In [201]:
bees2019_df['taxonRank'] = bees2019_df['taxonRank'].astype('category')

Check that worked...

In [202]:
bees2019_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24548 entries, 0 to 24678
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   occurrenceID      24548 non-null  object
 1   family            24548 non-null  object
 2   genus             24548 non-null  object
 3   species           14363 non-null  object
 4   taxonRank         24548 non-null  category
 5   locality          24536 non-null  object
 6   decimalLatitude   24548 non-null  int64
 7   decimalLongitude  24548 non-null  int64
 8   eventDate         24548 non-null  datetime64[ns]
 9   day               24548 non-null  int64
 10  month             24548 non-null  int64
dtypes: category(1), datetime64[ns](1), int64(4), object(5)
memory usage: 2.1+ MB

Finally, double check the first & last few rows of data:

In [203]:
bees2019_df

,occurrenceID,family,genus,species,taxonRank,locality,decimalLatitude,decimalLongitude,eventDate,day,month
0,https://osac.oregonstate.edu/OBS/OBA_1923053,Halictidae,Halictus,Halictus ligatus,SPECIES,Corvallis,45,-123,2019-08-24,24,8
1,https://osac.oregonstate.edu/OBS/OBA_1913691,Megachilidae,Osmia,Osmia densa,SPECIES,McKee Bridge,42,-123,2019-05-29,29,5
2,https://osac.oregonstate.edu/OBS/OBA_1913673,Megachilidae,Protosmia,Protosmia rubifloris,SPECIES,McKee Bridge,42,-123,2019-05-29,29,5
3,https://osac.oregonstate.edu/OBS/OBA_1901618,Halictidae,Halictus,Halictus farinosus,SPECIES,Grants Pass,42,-124,2019-04-26,26,4
4,https://osac.oregonstate.edu/OBS/OBA_1923023,Apidae,Anthophora,Anthophora urbana,SPECIES,Redmond,44,-121,2019-09-05,5,9
...,...,...,...,...,...,...,...,...,...,...,...
24674,https://osac.oregonstate.edu/SP/OSAC_0001276270,Apidae,Anthophora,Anthophora bomboides,SPECIES,Dayville,45,-119,2019-06-20,20,6
24675,https://osac.oregonstate.edu/SP/OSAC_0001276287,Apidae,Anthophora,Anthophora ursina,SPECIES,Seneca,44,-119,2019-06-22,22,6
24676,https://osac.oregonstate.edu/SP/OSAC_0001276284,Apidae,Anthophora,Anthophora ursina,SPECIES,Copperfield,45,-117,2019-06-11,11,6
24677,https://osac.oregonstate.edu/SP/OSAC_0001276289,Apidae,Anthophora,Anthophora ursina,SPECIES,Joseph,45,-117,2019-06-19,19,6
24678,https://osac.oregonstate.edu/SP/OSAC_0001276280,Apidae,Anthophora,Anthophora ursina,SPECIES,Elgin,46,-118,2019-06-15,15,6

Science Fiction Television Series Ratings Over Time

Connection object for cisdbss.pcc.edu database:

In [204]:
connection = pyodbc.connect(
    server="scrubbed.pcc.edu",
    user="username",
    password="password",
    database="IMDB",
    driver="{ODBC Driver 17 for SQL Server}")

connection

SQL query to retrieve all science fiction television series from the IMDB database, along with ratings:

In [205]:
sql = '''SELECT *
FROM title_basics AS tb
JOIN title_genre AS tg ON tb.tconst = tg.tconst
JOIN title_ratings AS tr ON tb.tconst = tr.tconst
WHERE tg.genre = 'Sci-Fi'
AND tb.titleType = 'tvSeries'
ORDER BY tb.startYear;'''

Query database to retrieve information and dump it in a Pandas Dataframe:

In [206]:
sftv_df = pd.read_sql_query(sql, connection)

C:\Users\noell\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Let's take a look at what we got:

In [207]:
sftv_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,tconst,genre,tconst,averageRating,numVotes
0,tt6280432,tvSeries,Casper the Friendly Ghost,Casper the Friendly Ghost,False,1945,NaN,7.0,tt6280432,Sci-Fi,tt6280432,8.8,9
1,tt0041037,tvSeries,Lights Out,Lights Out,False,1946,1952.0,30.0,tt0041037,Sci-Fi,tt0041037,7.6,97
2,tt0043234,tvSeries,Space Patrol,Space Patrol,False,1950,1955.0,30.0,tt0043234,Sci-Fi,tt0043234,7.6,74
3,tt0313041,tvSeries,Buck Rogers,Buck Rogers,False,1950,NaN,30.0,tt0313041,Sci-Fi,tt0313041,6.9,34
4,tt0451557,tvSeries,Out There,Out There,False,1951,1952.0,30.0,tt0451557,Sci-Fi,tt0451557,6.6,10

There's a tconst column for each table joined in the query; we need none of these. titleType and genre will obviously only contain one unique value each, as I specified them in the SQL query. Also there is no obvious significant difference between primaryTitle and originalTitle, so I'm only going to keep primaryTitle.

In [208]:
sftv_df.drop(columns=['tconst','titleType','originalTitle','tconst','genre','tconst'],errors='raise',inplace=True)

Now let's take a look at missing values in the remaining columns:

In [209]:
missing_sftv = sftv_df.shape[0] - sftv_df.count()
print(missing_sftv)

primaryTitle        0
isAdult             0
startYear           0
endYear           880
runtimeMinutes    476
averageRating       0
numVotes            0
dtype: int64

endYear and averageRating both have many missing values. endYear likely is NaN when the show only lasted a single year. If we want to calculate the number of years a show ran, we'll need to replace the null values with the same year as startYear.

In [210]:
sftv_df.endYear.fillna(sftv_df.startYear, inplace=True)
sftv_df

,primaryTitle,isAdult,startYear,endYear,runtimeMinutes,averageRating,numVotes
0,Casper the Friendly Ghost,False,1945,1945.0,7.0,8.8,9
1,Lights Out,False,1946,1952.0,30.0,7.6,97
2,Space Patrol,False,1950,1955.0,30.0,7.6,74
3,Buck Rogers,False,1950,1950.0,30.0,6.9,34
4,Out There,False,1951,1952.0,30.0,6.6,10
...,...,...,...,...,...,...,...
1304,Hard Sun,False,2018,2018.0,60.0,6.6,2080
1305,KILLING BITES,False,2018,2018.0,24.0,7.5,21
1306,Altered Carbon,False,2018,2018.0,60.0,8.5,35421
1307,Age of the Living Dead,False,2018,2018.0,NaN,7.3,30
1308,Counterpart,False,2018,2018.0,60.0,8.3,3316

startYear and endYear appear to have different datatypes, so let's take a look at that:

In [211]:
sftv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   primaryTitle    1309 non-null   object
 1   isAdult         1309 non-null   bool
 2   startYear       1309 non-null   int64
 3   endYear         1309 non-null   float64
 4   runtimeMinutes  833 non-null    float64
 5   averageRating   1309 non-null   float64
 6   numVotes        1309 non-null   int64
dtypes: bool(1), float64(3), int64(2), object(1)
memory usage: 62.8+ KB

They should both be int. Also runtimeMinutes doesn't need to be float either, but it throws an error when attempting to convert it to int (perhaps due to the large number of nulls), so we'll let it be for now.

In [212]:
sftv_df['endYear'] = sftv_df['endYear'].astype('int64')
sftv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   primaryTitle    1309 non-null   object
 1   isAdult         1309 non-null   bool
 2   startYear       1309 non-null   int64
 3   endYear         1309 non-null   int64
 4   runtimeMinutes  833 non-null    float64
 5   averageRating   1309 non-null   float64
 6   numVotes        1309 non-null   int64
dtypes: bool(1), float64(2), int64(3), object(1)
memory usage: 62.8+ KB

FInally let's look at the isAdult column to see if we want to keep it. How many adult Sci-Fi TV shows are there?

In [213]:
sftv_df.isAdult.value_counts()

False    1308
True        1
Name: isAdult, dtype: int64

Since there is only one adult SF TV show, it is not a useful piece of information for analysis, and we can drop the row and column.

In [214]:
sftv_df = sftv_df.query("isAdult == False")
sftv_df = sftv_df.drop(columns=['isAdult'])

Check for duplicate rows:

In [215]:
sftv_df[sftv_df.duplicated(keep=False)]

Empty DataFrame
Columns: [primaryTitle, startYear, endYear, runtimeMinutes, averageRating, numVotes]
Index: []

Final look at the Dataframe:

In [216]:
sftv_df

,primaryTitle,startYear,endYear,runtimeMinutes,averageRating,numVotes
0,Casper the Friendly Ghost,1945,1945,7.0,8.8,9
1,Lights Out,1946,1952,30.0,7.6,97
2,Space Patrol,1950,1955,30.0,7.6,74
3,Buck Rogers,1950,1950,30.0,6.9,34
4,Out There,1951,1952,30.0,6.6,10
...,...,...,...,...,...,...
1304,Hard Sun,2018,2018,60.0,6.6,2080
1305,KILLING BITES,2018,2018,24.0,7.5,21
1306,Altered Carbon,2018,2018,60.0,8.5,35421
1307,Age of the Living Dead,2018,2018,NaN,7.3,30
1308,Counterpart,2018,2018,60.0,8.3,3316